<header id="header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="#" ng-click=UrlClick('#home') class="standard-logo" data-dark-logo="images/logo-dark.png"
                   data-sticky-logo="images/logo-media.png"
                   data-mobile-logo="images/logo-media.png">
                    <img src="images/logo.png" alt="Canvas Logo 2">
                </a>
                <a href="#" ng-click=UrlClick('#home') class="retina-logo" data-dark-logo="images/logo-dark@2x.png"
                   data-sticky-logo="images/logo-media@2x.png"
                   data-mobile-logo="images/logo-media@2x.png">
                    <img src="images/logo@2x.png" alt="Canvas Logo 3">
                </a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
                    <!--<li ng-class="{active: '#home'==current}">
                        <a href="#" ng-click=UrlClick('#home') data-href="#slider">
                            <div>Accueil</div>
                        </a>
                    </li>-->
                    <li ng-class="{active: '#section-about'==current}">
                        <a href="#" ng-click=UrlClick('#section-about') data-href="#section-about">
                            <div>Qui sommes nous</div>
                        </a>
                    </li>
                    <li ng-class="{active: '#section-process'==current}">
                        <a href="#" ng-click=UrlClick('#section-process') data-href="#section-process">
                            <div>Process</div>
                        </a>
                    </li>
                    <li ng-class="{active: '#section-services'==current}">
                        <a href="#" ng-click=UrlClick('#section-services') data-href="#section-services">
                            <div>Services</div>
                        </a>
                    </li>
                    <li ng-class="{active: '#section-client'==current}">
                        <a href="#" ng-click=UrlClick('#section-client') data-href="#section-client">
                            <div>Client</div>
                        </a></li>
                    <li ng-class="{active: '#section-realisation'==current}">
                        <a href="#" ng-click=UrlClick('#section-realisation') data-href="#section-realisation">
                            <div>Realisations</div>
                        </a></li>
                    <li ng-class="{active: '#section-tarifs'==current}">
                        <a href="#" ng-click=UrlClick('#section-tarifs') data-href="#section-tarifs">
                            <div>Tarifs</div>
                        </a></li>
                    <li ng-class="{active: '#section-questions'==current}">
                        <a href="#" ng-click=UrlClick('#section-questions') data-href="#section-questions">
                            <div>FAQ</div>
                        </a></li>
                    <li ng-class="{active: '#section-contact'==current}">
                        <a href="#" ng-click=UrlClick('#section-contact') data-href="#section-contact">
                            <div>Contact</div>
                        </a>
                    </li>
                    <li ng-class="{active: '#section-devis'==current}">
                        <a href="#modal-devis-form" ng-click=UrlClick('#section-devis')  data-lightbox="inline">
                            <div>Devis</div>
                        </a>
                    </li>
                </ul>

            </nav><!-- #primary-menu end -->
        </div>

    </div>

</header>