<!--About section-->
<section id="content" style="margin-bottom: 0px;">
    <div id="section-about" class="content-wrap">
        <div class="nobottommargin" {#style="padding-bottom: 150px;"#}>
            <div class="d-none d-lg-block"
                 style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent url('images/about.png') bottom right no-repeat;"></div>

            <div class="container clearfix" style="z-index: 1;">

                <div class="col_half nobottommargin">

                    <div class="heading-block topmargin-sm">
                        <h2>Qui sommes <span>nous</span></h2>
                        <span>Fournisseur de solution virtuelle</span>
                    </div>

                    <p>
                        <b>Moovin 360°</b> est une société de service dont l’activité principale est la visite virtuelle
                        et
                        immersive.
                      {#  <br>
                        Elle a pu voir le jour grâce à un groupe de jeunes dynamiques, innovants et persévérants, qui
                        ont collaboré afin de lancer la technique de la visite virtuelle et immersive en <b>TUNISIE</b>.
                        <br>
                        Nous vous proposons de franchir un autre palier dans votre effort de communication et de
                        sensibilisation relatif à votre domaine d’activité, et nous vous invitons à faire confiance au
                        <b>« virtuel »</b> pour développer votre activité.#}
                    </p>
                    <p>
                        La <b>visite virtuelle</b> est le cœur de notre expertise et pour satisfaire vos besoins nous
                        sommes
                        allés chercher la technologie la plus fiable, la plus fluide, la plus évolutive et la plus
                        récente dont le rendu est le meilleur sur le marché.
                        <br>
                        Nous utilisons le dispositif <b>« Matterport »</b> présent dans plus de <b>89 pays</b> et
                        introduit pour la
                        première fois et exclusivement en Tunisie pour réaliser les prises de vue de vos locaux.
                    </p>
                    <p>
                        <b>Moovin</b> vous garantit un rendu de très haute résolution en un minimum de temps et d’une
                        simplicité stupéfiante pour présenter au mieux vos locaux et les rendre accessibles sur la toile
                        et sur les réseaux sociaux afin d’améliorer la visibilité de votre service.
                    </p>
                {#    <p>
                        <b>Moovin</b> c’est aussi un accompagnement marketing de qualité grâce à une équipe qualifiée et
                        des collaborateurs expérimentés dont l’objectif principal est de vous conseiller dans vos
                        actions marketing.
                    </p>
                    <p>
                        Nous pouvons intervenir sur tout le territoire Tunisien dans les <b>48h</b> qui suivent la
                        demande pour réaliser nos travaux.
                        <br>
                        Une étude de besoins et une délimitation des objectifs garantissent la réussite de notre action
                    </p>
                    <p>
                        Nous espérons être à la hauteur de vos attentes et souhaitons voir vos rêves se réaliser et vos
                        projets grandir grâce à notre contribution.
                        <br>
                        Nous comptons sur votre motivation pour être avec vous les leaders de la réalité virtuelle et
                        immersive en Tunisie.
                    </p>#}

                    {#<a href="#" class="button button-border button-rounded button-large button-dark noleftmargin">Start#}
                        {#Trial</a>#}

                </div>

            </div>

        </div>

    </div>

</section>
