<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Offre basique</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2"
                                   placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected="">Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="modal1 mfp-hide subscribe-widget" id="modal-devis-form">
                <div class="block divcenter col-padding" style="background-color: #FFF; max-width: 900px;">
                    <h4 class="uppercase ls1">Création de <span>devis personnalisé</span></h4>
                    <form action="#" class="nobottommargin clearfix">

                        <div class="form-process"></div>

                        <div class="col_one_third">
                            <label for="template-contactform-name">Mail obligatoire
                                <small>*</small>
                            </label>
                            <input type="email" ng-model="devis.email" id="template-contactform-name"
                                   name="template-contactform-name"
                                   value="" class="sm-form-control required">
                        </div>

                        <div class="col_one_third">
                            <label for="template-contactform-email">Nature de l'espace
                                <small>*</small>
                            </label>
                            <select ng-model="devis.nature" id="template-contactform-service"
                                    name="template-contactform-service"
                                    class="sm-form-control" required>
                                <option value="">-- Choisir une --</option>
                                <option value="commercial">Commercial</option>
                                <option value="restauration">Restauration</option>
                                <option value="immobilier">Immobilier</option>
                                <option value="showroom">Showroom</option>
                                <option value="cafe">Café</option>
                                <option value="bar">Bar</option>
                                <option value="construction">Construction</option>
                                <option value="hotel">Hôtel</option>
                                <option value="sport">Salle de sport</option>
                                <option value="ceremonie">Espace de cérémonie</option>
                                <option value="fete">Salle de fête</option>
                                <option value="spa">Spa Bien être & Esthétique</option>
                            </select>
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-phone">Superficie approximative
                                <small>*</small>
                            </label>
                            <input type="number" ng-model="devis.area" min="50"
                                   id="template-contactform-phone"
                                   name="template-contactform-phone"
                                   class="sm-form-control required" required>
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-message">Service demandé
                                <small>*</small>
                            </label>
                            <br>
                            <div class="form-check form-check-inline col-md-5" style="margin-bottom: 10px">
                                <input type="checkbox" ng-model="devis.showcase" class="form-check-input"
                                       id="inlineCheckbox1" value="3d">
                                <label class="form-check-label" for="inlineCheckbox1">3D showcase & visite
                                    virtuelle</label>
                            </div>
                            {#<br>#}
                            {#<div class="form-check form-check-inline col-md-3" style="margin-bottom: 10px">#}
                            {#<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="360">#}
                            {#<label class="form-check-label" for="Photos_360">Photos 360°</label>#}
                            {#</div>#}
                            {#<br>#}
                            <div class="form-check form-check-inline col-md-3" style="margin-bottom: 10px">
                                <input type="checkbox" ng-model="devis.google" class="form-check-input"
                                       id="inlineCheckbox1" value="google">
                                <label class="form-check-label" for="google">Google street view </label>
                            </div>
                            <br>

                            <div class="form-check form-check-inline col-md-5" style="margin-bottom: 10px">
                                <input type="checkbox" ng-model="devis.shooting" class="form-check-input"
                                       id="inlineCheckbox1" value="shooting">
                                <label class="form-check-label" for="shooting">Shooting photos </label>
                            </div>
                            {#<br>#}
                            {#   <div class="form-check form-check-inline col-md-3" style="margin-bottom: 10px">
                                   <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="mattertag">
                                   <label class="form-check-label" for="mattertag">Mattertag </label>
                               </div>#}
                            {#<br>#}
                            <div class="form-check form-check-inline col-md-3" style="margin-bottom: 10px">
                                <input type="checkbox" ng-model="devis.support" class="form-check-input"
                                       id="inlineCheckbox1" value="support">
                                <label class="form-check-label" for="support">Support 2D et 3D </label>
                            </div>
                            <br>
                            {#<div class="form-check form-check-inline col-md-5" style="margin-bottom: 10px">#}
                            {#<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="sketchup">#}
                            {#<label class="form-check-label" for="sketchup">Sketchup</label>#}
                            {#</div>#}
                            {#<br>#}
                            {#<div class="form-check form-check-inline col-md-4" style="margin-bottom: 10px">#}
                            {#<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="video">#}
                            {#<label class="form-check-label" for="video">Vidéo promotionnelle </label>#}
                            {#</div>#}
                            <br>
                        </div>
                        {#<code>{[{calculate()}]}</code>#}
                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck"
                                   name="template-contactform-botcheck" value="" class="sm-form-control">
                        </div>
                        <button ng-click="calculate()" ng-disabled="isDisabled" style="display: inline-block"
                                class="button button-border button-rounded button-large button-dirtygreen noleftmargin">
                            Approximation de prix
                        </button>

                        <h2 class="uppercase ls1" style="position: relative;display: inline-block;margin: 0 0 0 200px;">
                            {[{value}]} DT</h2>

                    </form>

                </div>
            </div>

        </div>

    </div>

</section><!-- #content end -->
