{% extends 'base.html.twig' %}
{% block body %}
    <!-- Document Wrapper-->
    <div id="wrapper" class="clearfix">
        <!-- Header -->
        {% include 'header/header.html.twig' %}

        <!--Slider section-->
        {% include 'slider/slider.html.twig' %}

        <!--About section-->
        {% include 'about/about.html.twig' %}

        <!--Process section-->
        {% include 'process/process.html.twig' %}

        <!--Services section-->
        {% include 'services/services.html.twig' %}



        <!--Client section-->
        {% include 'clients/clients.html.twig' %}
        {% include 'realisation/realisation.html.twig' %}
        <!--Tarifs section-->
        {% include 'tarifs/tarifs.html.twig' %}

        <!--Question section-->
        {% include 'questions/questions.html.twig' %}

        <!--Contact section-->
        {% include 'contact/contact.html.twig' %}

        <!-- Footer -->
        {% include 'footer/footer.html.twig' %}

    </div><!-- #wrapper end -->

    <!-- Go To Top-->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!--Modal section-->
    {% include 'modal/modal.html.twig' %}

{% endblock body %}