<section id="content">
    <div id="section-services" class="container clear-bottommargin clearfix"
         style="margin-top: 50px;margin-bottom: 50px!important;">

        <div class="heading-block center">
            <h2>Nos <span>services</span></h2>
            <span>We provide a wide array of Usable &amp; Flexible Features</span>
        </div>

        <div class="row">

            <div class="col-lg-4 bottommargin">
                <img data-animate="fadeInLeftBig" src="images/services.png" alt="iPhone"
                     class="center-block fadeInLeftBig animated">
            </div>

            <div class="col-lg-4 col-md-6 topmargin bottommargin">

                <div class="col_full">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-screen-desktop"></i></a>
                        </div>
                        <h3>Modélisation 3D & Visite virtuelle</h3>
                        <p>Conception 3D globale en maison de poupé avec visite virtuelle intégrée  </p>
                    </div>

                </div>

                <div class="col_full">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-google"></i></a>
                        </div>
                        <h3>Intégration google street view </h3>
                        <p>Passge depuis Google Street View vers la visite virtuelle</p>
                    </div>

                </div>
                <div class="col_full">
                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-camera-retro"></i></a>
                        </div>
                        <h3>Shooting photos & vidéo </h3>
                        <p>Réalisation de photographie HD et montage vidéo professionnel en post prise de vue 3D</p>
                    </div>
                </div>
                <div class="col_full nobottommargin">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-video"></i></a>
                        </div>
                        <h3>Vidéo promotionnelle </h3>
                        <p>Une bréve vidéo qui résume la visite virtuelle </p>
                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 topmargin bottommargin">

                <div class="col_full">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-layers"></i></a>
                        </div>
                        <h3>Support 2D & 3D </h3>
                        <p> Fichiers 'OBJ', 'XYZ' et plans métriques préts à annoter et exporter vers Autodesk ReCap ou Revit.</p>
                    </div>

                </div>
                <div class="col_full">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-home"></i></a>
                        </div>
                        <h3>Sketchup </h3>
                        <p>Réalisation de sketchup à partir de la modélisation 3D </p>
                    </div>

                </div>
                <div class="col_full">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-tag"></i></a>
                        </div>
                        <h3>Mattertag</h3>
                        <p>Des points d'insertion d'un contenu média : photo, vidéo, texte, gif et lien internet</p>
                    </div>

                </div>
                <div class="col_full nobottommargin">

                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-globe"></i></a>
                        </div>
                        <h3>Webmarketing</h3>
                        <p>Conception web et gestion de réseaux sociaux </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>