<footer id="footer" class="dark">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 All Rights Reserved by Moovin 360° .<br>
                <!--<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>-->
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="https://www.facebook.com/moovin360/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/moovin360/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                        <i class="icon-instagram2"></i>
                        <i class="icon-instagram2"></i>
                    </a>

                    {#<a href="#" class="social-icon si-small si-borderless si-pinterest">#}
                        {#<i class="icon-pinterest"></i>#}
                        {#<i class="icon-pinterest"></i>#}
                    {#</a>#}

                    {#<a href="#" class="social-icon si-small si-borderless si-linkedin">#}
                        {#<i class="icon-linkedin"></i>#}
                        {#<i class="icon-linkedin"></i>#}
                    {#</a>#}
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->