<section id="section-questions" class="section">
    <div class="container clear-bottommargin clearfix" style="margin-top: 50px;margin-bottom: 50px!important;">

        <div class="heading-block center">
            <h2>Foire aux <span>questions</span></h2>
            {#<span>We provide a wide array of Usable &amp; Flexible Features</span>#}
        </div>

        <div class="row">
            <div class="col-lg-12 bottommargin">
                <div class="accordion accordion-border clearfix nobottommargin">

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Quelle est la fiabilité des plans métriques ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        Notre dispositif utilise un algorithme de calcul qui se base sur ses deux caméras « laser et
                        numérique» pour déterminer à 1 cm prés les cotes de votre plan , une unité de mesure correspond
                        à un mètre.
                    </div>

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Quelle est la différence entre la visite 360 classique et la vôtre ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        Il s’agit d’une visite virtuelle et complète des lieux (se déplacer dans tous les sens-monter et
                        descendre des escaliers-traverser entre des objets-passer des portes…) il ne s’agit pas de
                        clichés photographiques disposés l’un après l’autre, c’est une immersion dans un univers 3D qui
                        reproduit avec exactitude et précision l’état réel des lieux modélisés par une qualité d’image
                        de 4K HD.
                        <br>
                        Se déplacer dans cet univers se fait d’un simple clic de souris ou de touche sur un
                        smartphone et dans les limites établies par le propriétaire des lieux.
                    </div>

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Combien de temps faut-il pour réaliser les travaux ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        En moyenne il faut prévoir 30 à 40 minutes pour une superficie de 100 m². La visite sera prête
                        48 heures après la prise de mesure.
                        <br>
                        Des modifications peuvent être faites ultérieurement en
                        moins de 24 heures.
                    </div>

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Est-il possible d’effectuer la visite sur une salle de fête et un espace ouvert de 400 m² pour
                        une superficie globale de 1130 m² ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        Oui bien sur nos réalisations peuvent aller jusqu’à 10000 m² mais le rendu sera fait sur 3
                        prises pour éviter qu’il soit trop volumineux et garantir la fluidité de la visite et un rendu
                        final complet et plus léger.
                    </div>

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Est-il possible de mettre à jour la visite d’ici quelques mois ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        Oui c’est possible d’apporter des changements à votre visite dans les limites du possible,
                        puisqu’il faudra refaire la prise du nouvel espace, le seul avantage des mises à jour c’est
                        qu’elles sont nettement moins couteuses.
                    </div>

                    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                class="acc-open icon-remove-circle"></i>
                        Est-ce que vous travaillez que sur le grand Tunis ?
                    </div>
                    <div class="acc_content clearfix" style="display: none;">
                        Non bien sûr, nous nous déplaçons sur tout le territoire tunisien, quelques frais
                        supplémentaires seront engagés et négociés selon votre emplacement.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>