<section id="content" style="margin-bottom: 0px;">
    <div id="section-contact" class="heading-block center" style="margin-top: 50px;">
        <h2>Contactez <span>nous</span></h2>
        <span>N’hésitez pas à nous laisser un message et nous tacherons de vous répondre dans les plus brefs délais.</span>
    </div>
    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Postcontent
            ============================================= -->
            <div class="postcontent nobottommargin">

                <div class="contact-widget">

                    <div class="contact-form-result"></div>

                    <form class="nobottommargin" id="template-contactform" name="template-contactform" method="post"
                          novalidate="novalidate">

                        <div class="form-process" ng-if="process"></div>

                        <div class="col_one_third">
                            <label for="template-contactform-name">Nom
                                <small>*</small>
                            </label>
                            <input type="text" ng-model="contact.name" id="template-contactform-name"
                                   name="template-contactform-name"
                                   value="" class="sm-form-control required">
                        </div>

                        <div class="col_one_third">
                            <label for="template-contactform-email">E-mail
                                <small>*</small>
                            </label>
                            <input type="email" id="template-contactform-email" ng-model="contact.email"
                                   name="template-contactform-email"
                                   value="" class="required email sm-form-control">
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-phone">Téléphone</label>
                            <input type="text" id="template-contactform-phone" name="template-contactform-phone"
                                   ng-model="contact.phone"
                                   value="" class="sm-form-control">
                        </div>

                        <div class="clear"></div>

                        <div class="col_two_third">
                            <label for="template-contactform-subject">Sujet
                                <small>*</small>
                            </label>
                            <input type="text" id="template-contactform-subject" ng-model="contact.subject"
                                   name="template-contactform-subject"
                                   value="" class="required sm-form-control">
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-service">Secteur</label>
                            <select id="template-contactform-service" name="template-contactform-service"
                                    ng-model="contact.sector"
                                    class="sm-form-control" required>
                                <option value="">-- Choisir une --</option>
                                <option value="commercial">Commercial</option>
                                <option value="restauration">Restauration</option>
                                <option value="immobilier">Immobilier</option>
                                <option value="showroom">Showroom</option>
                                <option value="cafe">Café</option>
                                <option value="bar">Bar</option>
                                <option value="construction">Construction</option>
                                <option value="hotel">Hôtel</option>
                                <option value="sport">Salle de sport</option>
                                <option value="ceremonie">Espace de cérémonie</option>
                                <option value="fete">Salle de fête</option>
                                <option value="spa">Spa Bien être & Esthétique</option>
                            </select>
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-message">Message
                                <small>*</small>
                            </label>
                            <textarea class="required sm-form-control" id="template-contactform-message"
                                      ng-model="contact.message"
                                      name="template-contactform-message" rows="6" cols="30"></textarea>
                        </div>

                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck"
                                   name="template-contactform-botcheck" value="" class="sm-form-control">
                        </div>

                        <div class="col_full">
                            <button class="button button-3d nomargin" type="submit" ng-click="sendEmail()"
                                    id="template-contactform-submit"
                                    name="template-contactform-submit" value="submit">Envoyer un E-mail

                            </button>
                        </div>

                    </form>
                </div>

            </div><!-- .postcontent end -->

            <!-- Sidebar
            ============================================= -->
            <div class="sidebar col_last nobottommargin">

                {#     <address>
                         <strong>Headquarters:</strong><br>
                         795 Folsom Ave, Suite 600<br>
                         San Francisco, CA 94107<br>
                     </address>#}
                <abbr title="Phone Number"><strong>Téléphone:</strong></abbr> (00216) 55 61 11 92<br>
                <abbr title="Phone Number"><strong></strong></abbr>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      (00216) 22 66 30 83<br>
                {#<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>#}
                <abbr title="Email Address"><strong>Email:</strong></abbr> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp moovin360@gmail.com


            </div><!-- .sidebar end -->

        </div>

    </div>

</section>
