<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>
    <title>{% block title %}Moov'In{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
              rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/swiper.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/font-icons.css') }} " type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Bootstrap Switch CSS -->
        <link rel="stylesheet" href="{{ asset('css/bs-switches.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css"/>
    {% endblock %}
</head>
<body class="stretched" ng-app="moovinApp" ng-controller="moovinCtrl">
{% block body %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/pricing.js') }}"></script>
    <script src="{{ asset('libAngular/angular.js') }}"></script>
    <script src="{{ asset('libAngular/angular-resource.js') }}"></script>
    <script src="{{ asset('angular/config.js') }}"></script>
    <script src="{{ asset('angular/moovinCtrl.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}
</body>
</html>
