
<section id="content">
    <div id="section-tarifs" class="container clearfix" style="margin-top: 50px;">
        <div id="section-pricing" class="page-section nopadding nomargin">

            <div class="pricing-tenure-switcher center bottommargin-sm" data-container="#pricing-switch">
                <!--<div class="line"></div>-->
                <div class="heading-block topmargin-sm">
                    <h2>Nos <span>Tarifs</span></h2>
                </div>
                        <a href="#modal-devis-form"
                           class="button button-border button-rounded button-large button-dirtygreen noleftmargin"
                           data-lightbox="inline">
                            <div>Devis personnalisé</div>
                        </a>
            </div>

            <div id="pricing-switch" class="pricing row bottommargin-lg clearfix">

                <div class="col-lg-4 col-md-6">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Basic</h3>
                            <h5>100 m²</h5> 
                        </div>
                        <div class="pricing-price">
                            600 DT
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>Visite virtuelle</li>
                                <li>Modélisation 3D</li>
                                <li>Vidéo promotionnelle</li>
                                <li>Mattertag</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">

                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>Gold</h3>
                            <h5>100 m²</h5>
                        </div>
                        <div class="pricing-price">
                            1000 DT
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>Visite virtuelle</li>
                                <li>Modélisation 3D</li>
                                <li>Vidéo promotionnelle</li>
                                <li>Mattertag</li>
                                <li>Intégrtion Google street view</li>
                                <li>Shooting photos</li>
                                <li>Montage vidéos</li>
                                <li>Webmarketing</li>
                                <li>Support 2D & 3D</li>
                                <li>Sketchup</li>
                            </ul>
                        </div>
                        {#<div class="pricing-action">#}
                            {#<a href="#" class="button button-large button-rounded capitalize ls0"#}
                               {#style="border-radius: 23px;">Get Started</a>#}
                        {#</div>#}
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Silver</h3>
                            <h5>100 m²</h5>
                        </div>
                        <div class="pricing-price">
                            800 DT
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li>Visite virtuelle</li>
                                <li>Modélisation 3D</li>
                                <li>Vidéo promotionnelle</li>
                                <li>Mattertag</li>
                                <li>Intégrtion Google street view</li>
                                <li>Shooting photos</li>
                                <li>Montage vidéos</li>
                            </ul>
                        </div>
                        {#<div class="pricing-action">#}
                        {#<a href="#" class="button button-large button-rounded capitalize ls0"#}
                        {#style="border-radius: 23px;">Get Started</a>#}
                        {#</div>#}
                    </div>

                </div>



            </div>

        </div>
    </div>
</section>