<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">
    <div id="home" class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            {#<h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>#}
                            <p class="d-none d-sm-block" data-caption-animate="fadeInUp"
                               data-caption-delay="200">
                                <b>Moovin 360°</b><br> Expert en modélisation 3D & Visites virtuelles
                            </p>
                            {#<a href="#modal-visite" class="button button-border button-rounded button-large button-dirtygreen noleftmargin">#}
                            {#Démarrez votre visite#}
                            {#</a>#}
                            <a href="#modal-visite"
                               class="button button-border button-rounded button-large button-dirtygreen noleftmargin"
                               data-lightbox="inline">
                                <div>Démarrez votre visite</div>
                            </a>

                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="images/explore.jpg" preload="auto" loop autoplay muted>
                            <source src='images/intro.mp4' type='video/mp4'/>
                            <source src='images/intro.webm' type='video/webm'/>
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>

                <div class="swiper-slide dark"
                     style="background-image: url('images/dollhouse.png'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            {#<h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>#}
                            <p class="d-none d-sm-block" data-caption-animate="fadeInUp"
                               data-caption-delay="200">
                                <b>Moovin 360°</b><br> Fournisseur de solutions 3D & immersives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number">
                <div class="slide-number-current"></div>
                <span>/</span>
                <div class="slide-number-total"></div>
            </div>
        </div>
    </div>

    <div class="modal1 mfp-hide" id="modal-visite">
        <div class="block divcenter col-padding" style="background-color: none; max-width: 900px;">
            {#<h4 class="uppercase ls1">Création de devis personnalisé</h4>#}
            <iframe width="853" height="480"
                    src="https://my.matterport.com/show/?m=iSbA19bnFwE" frameborder="0"
                    allowfullscreen allowvr></iframe>
        </div>
    </div>
</section>

<!-- Page Sub Menu
============================================= -->
{#<div id="page-menu" class="dots-menu">#}

    {#<div id="page-menu-wrap">#}

        {#<div class="container clearfix">#}

            {#<div class="menu-title">Explore <span>CANVAS</span></div>#}

            {#<nav class="one-page-menu no-offset">#}
                {#<ul>#}
                    {#<li ng-class="{active: '#home'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#home') data-href="#home">#}
                            {#<div>Accueil</div>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li ng-class="{active: '#section-about'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-about') data-href="#section-about">#}
                            {#<div>Qui sommes nous</div>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li ng-class="{active: '#section-process'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-process') data-href="#section-process">#}
                            {#<div>Process</div>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li ng-class="{active: '#section-services'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-services') data-href="#section-services">#}
                            {#<div>Services</div>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li ng-class="{active: '#section-client'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-client') data-href="#section-client">#}
                            {#<div>Client</div>#}
                        {#</a></li>#}
                    {#<li ng-class="{active: '#section-tarifs'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-tarifs') data-href="#section-tarifs">#}
                            {#<div>Tarifs</div>#}
                        {#</a></li>#}
                    {#<li ng-class="{active: '#section-questions'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-questions') data-href="#section-questions">#}
                            {#<div>Question</div>#}
                        {#</a></li>#}
                    {#<li ng-class="{active: '#section-contact'==current}">#}
                        {#<a href="#" ng-click=UrlClick('#section-contact') data-href="#section-contact">#}
                            {#<div>Contact</div>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</nav>#}

            {#<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>#}

        {#</div>#}

    {#</div>#}

{#</div>#}
<!-- #page-menu end -->
