<section id="section-process" class="section">
    <div class="container clearfix" style="margin-top: 50px;">
        <div class="heading-block topmargin-sm">
            <h2>Notre <span>process</span></h2>
            <span>Votre visite virtuelle 3D immersive en trois étapes </span>
        </div>
        <div class="col_one_third nobottommargin center">
            <a href="#"><img src="{{ asset('images/tap.svg') }}" style="width:70px;" alt="Image"
                             class="bottommargin-sm"></a>
            <h4>Etude de projet</h4>
            <p>
                Après identification de vos besoins, nous planifions ensemble l’organisation des prises de vue de vos
                différents espaces.
            </p>
        </div>

        <div class="col_one_third nobottommargin center">
            <a href="#"><img src="{{ asset('images/360-degrees.svg') }}" style="width:70px;" alt="Image"
                             class="bottommargin-sm"></a>
            <h4>Prises de vue</h4>
            <p>
                Nous venons réaliser les prises de vue de vos espaces partout en Tunisie en un temps record : 1 heure
                pour une surface de 100m².
            </p>
        </div>

        <div class="col_one_third nobottommargin center col_last">
            <a href="#"><img src="{{ asset('images/smartphone.svg') }}" style="width:70px;" alt="Image"
                             class="bottommargin-sm"></a>
            <h4>Rendue en 48h</h4>
            <p>
                48 heures après les prises de vue, nous vous envoyons le lien de vos visites virtuelles 3D par email et
                vous accompagnons dans son intégration à vos ressources multimédia.
            </p>
        </div>

    </div>
</section>