<section id="section-client" class="section">
    <div class="container clearfix" style="margin-top: 50px;">

        <div class="heading-block center">
            <h3>Une <span>visite virtuelle</span> pour des usages professionnels </h3>
            <span>Notre service est déstiné aux professionnels qui veullent promouvoir leurs services à travers leurs locaux.</span>
        </div>

        <div id="oc-portfolio" class="owl-carousel portfolio-carousel portfolio-nomargin carousel-widget"
             data-margin="1" data-pagi="false" data-autoplay="500" data-items-xs="1" data-items-sm="2"
             data-items-md="3" data-items-xl="4" data-lightbox="gallery">

            <div class="oc-item">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/assurance.jpg" alt="Mac Sunglasses">
                        </a>

                    </div>
                    <div class="portfolio-desc">
                        <h3>Réclamations Relatives À L'assurance </h3>
                        <span><a href="#">Compagnie d’assurance sur bien immobilier</a></span>
                    </div>
                </div>
            </div>

            <div class="oc-item">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/hotels.jpg" alt="Mac Sunglasses">
                        </a>

                    </div>
                    <div class="portfolio-desc">
                        <h3>Voyage & Accueil</h3>
                        <span><a href="#">Hôtel, maison d’hôtes, sites culturel, Spa </a></span>
                    </div>
                </div>
            </div>


            <div class="oc-item">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/resto.jpg" alt="Mac Sunglasses">
                        </a>

                    </div>
                    <div class="portfolio-desc">
                        <h3>Immobilier Commercial </h3>
                        <span><a href="#">Showroom, Restaurant, Café, Bar, Boutique</a></span>
                    </div>
                </div>
            </div>

            <div class="oc-item">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/sport.jpg" alt="Mac Sunglasses">
                        </a>

                    </div>
                    <div class="portfolio-desc">
                        <h3>Divertissement </h3>
                        <span><a href="#">Club culturel, Salle de sport, Salle de cinéma, Musée, Salle de cérémonie, Salle de fête.</a></span>
                    </div>
                </div>
            </div>
            <div class="oc-item">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="images/spa.jpg" alt="Mac Sunglasses">
                        </a>

                    </div>
                    <div class="portfolio-desc">
                        <h3>Prestataire de service </h3>
                        <span><a href="#">Clinique, Cabinet médical, Espace de bien être, Salon d’esthétique,Industrie : Entrepôt, Usine.</a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>